$bgdient: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
$bgdientt: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);



page-login {


ion-content{
    background: $bgdient;
}

.boxLogin{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}
ion-list{
    background: #fff;
    border-radius: 1rem;
    padding: 4rem 2rem;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

button{
    background: $bgdientt;
}








    

}
